<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar superheroes</title>
</head>

<body>
    <h1>Agregar superheroes</h1>

    <form action="/api/heroes/agregar" method="post">

        <label>Nombre Superhéroe</label>
        <input type="text" name="nombreSuperHeroe" required minlength="3" maxlength="60"> <br>

        <label>Nombre Real</label>
        <input type="text" name="nombreReal" required minlength="3" maxlength="60"> <br>

        <label>Edad</label>
        <input type="number" name="edad" required min="0"> <br>

        <label>Planeta de Origen</label>
        <input type="text" name="planetaOrigen" required minlength="3" maxlength="60"> <br>

        <label>Debilidad</label>
        <input type="text" name="debilidad" required> <br>

        <label>Poderes</label>
        <input type="text" name="poderes" required> <br>

        <label>Aliados</label>
        <input type="text" name="aliados" required> <br>

        <label>Enemigos</label>
        <input type="text" name="enemigos" required> <br>

        <label>Creador</label>
        <input type="text" name="creador" required> <br>

        <!-- Botón -->
        <button type="submit">Agregar Superheroe</button>
        <a href="/api/heroes">Volver al dashboard</a>

    </form>


</body>

</html>