<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar superheroes</title>
    <style>
        body {
            background-color: rgb(253, 253, 253);
            margin-bottom: 150px;

        }

        table {
            margin: auto;
            border: 1px solid black;
            border-collapse: collapse;
            width: 97%;
            text-align: center;
        }

        tr,
        th,
        td {
            margin: auto;
            border: 1px solid black;
        }

        th {
            background-color: rgba(231, 73, 16, 0.759);
        }

        .btnAgregar {
            margin-left: 89.6%;
            margin-bottom: 5px;

        }

        .palabras {
            color: rgb(34, 13, 2);
            font-weight: 530;
            text-decoration: none;
        }

        h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            margin-top: 2%;
            margin-bottom: 0;

        }
    </style>

</head>

<body>
    <!---------------- Etapa 3: Implementar Función de Agregar Superhéroes ---------------->
    <h1>Agregar superheroes</h1>

    <form action="/api/heroes/agregar" method="post" novalidate>

        <label>Nombre Superhéroe</label>
        <input type="text" name="nombreSuperHeroe" required minlength="3" maxlength="60"> <br>

        <label>Nombre Real</label>
        <input type="text" name="nombreReal" required minlength="3" maxlength="60"> <br>

        <label>Edad</label>
        <input type="number" name="edad" required min="0"> <br>

        <label>Planeta de Origen</label>
        <input type="text" name="planetaOrigen" required minlength="3" maxlength="60"> <br>

        <label>Debilidad</label>
        <input type="text" name="debilidad" required> <br>

        <label>Poderes</label>
        <input type="text" name="poderes" required> <br>

        <label>Aliados</label>
        <input type="text" name="aliados" required> <br>

        <label>Enemigos</label>
        <input type="text" name="enemigos" required> <br>

        <label>Creador</label>
        <input type="text" name="creador" required> <br>

        <!-- Botón -->
        <button type="submit">Agregar Superheroe</button>
        <a href="/api/heroes">Volver al dashboard</a>

    </form>

    <script>

        /*
            Buscamos el formulario principal de la página utilizando querySelector("form").
            querySelector permite seleccionar elementos HTML usando selectores similares a CSS.
        
            En este caso:
            - "form" selecciona el primer formulario encontrado.
        
            Luego se addEventListener("submit", ...):
            - addEventListener escucha eventos específicos.
            - "submit" detecta cuando el usuario intenta enviar el formulario.
        
            Esto permite intervenir el envío antes de que llegue al servidor,
            para validar datos y evitar errores.
        */
        document.querySelector("form").addEventListener("submit", function (eventoFormulario) {

            /*
                Creamos un array vacío llamado errores.
        
                Un array permite almacenar múltiples mensajes de error.
                Si alguna validación falla, iremos agregando mensajes aquí.
                Luego podremos mostrarlos todos juntos al usuario.
            */
            let errores = [];


            /*
                Obtenemos el valor ingresado en el campo nombreSuperHeroe.
        
                document.querySelector('[name="nombreSuperHeroe"]'):
                - Busca el input cuyo atributo name sea nombreSuperHeroe.
        
                .value:
                - Obtiene el contenido escrito por el usuario.
        
                .trim():
                - Elimina espacios en blanco al inicio y final.
                - Ayuda a evitar entradas inválidas por espacios innecesarios.
            */
            const nombreSuperHeroeIngresado = document.querySelector('[name="nombreSuperHeroe"]').value.trim();

            if (nombreSuperHeroeIngresado.length < 3 || nombreSuperHeroeIngresado.length > 60) {

                /* ---------------------------------------------------------------------------------------------
                    Validamos longitud del nombre del superhéroe.
            
                    .length:
                    - Devuelve cantidad de caracteres.
            
                    Si tiene menos de 3 o más de 60:
                    - Se considera inválido.

                   push():
                   - Agrega un nuevo elemento al array.
       
                   Guardamos mensaje descriptivo para informar al usuario.
               */
                errores.push("El nombre del superhéroe debe tener entre 3 y 60 caracteres.");
            }

            /* ---------------------------------------------------------------------------------------------
                Obtenemos el nombre real ingresado y limpiamos espacios externos.
            */
            const nombreRealIngresado = document.querySelector('[name="nombreReal"]').value.trim();

            /*
               Validamos longitud del nombre real.
           */
            if (nombreRealIngresado.length < 3 || nombreRealIngresado.length > 60) {

                errores.push("El nombre real debe tener entre 3 y 60 caracteres.");
            }

            /* ---------------------------------------------------------------------------------------------
                Obtenemos la edad ingresada.
        
                parseInt():
                - Convierte texto a número entero.
                - Base 10 asegura interpretación decimal.
            */
            const edadIngresada = parseInt(document.querySelector('[name="edad"]').value, 10);

            /*
                Validamos edad:
        
                isNaN():
                - Verifica si el valor no es numérico.
        
                edadIngresada < 0:
                - Evita edades negativas.
            */
            if (isNaN(edadIngresada) || edadIngresada < 0) {

                errores.push("La edad debe ser mayor o igual a 0.");
            }

            const planetaOrigenIngresado = (document.querySelector('[name="planetaOrigen"]').value.trim());

            if ((planetaOrigenIngresado.length < 3) || (planetaOrigenIngresado.length > 60)) {
                errores.push("El planeta de origen debe ser mayor 3 caracteres y menor a 60");
            }


            /**  ---------------------------------------------------------------------------------------------
                Se utiliza document.querySelector('[name="debilidad"]'):
                - Busca el input cuyo atributo name sea nombreSuperHeroe
                - trim() elimina los espacios en blanco presentes en el valor
             
            */

            const debilidadIngresada = document.querySelector('[name="debilidad"]').value.trim();

            /**  ---------------------------------------------------------------------------------------------
                se corrobora la longitud mayor 3 y menor a 60.
             
            */
            if (debilidadIngresada.length < 3 || debilidadIngresada.length > 60) {
                errores.push("La debilidad debe tener entre 3 y 60 caracteres.");
            }


            /*  
                Si el array contiene errores:
            */
            if (errores.length > 0) {

                /*
                    preventDefault():
                    - Detiene el comportamiento normal del formulario.
                    - Evita que se envíe al servidor.
        
                    Esto permite corregir errores antes del envío.
                */
                eventoFormulario.preventDefault();

                /*
                    alert():
                    - Muestra ventana emergente al usuario.
        
                    join("\n"):
                    - Une todos los mensajes del array.
                    - "\n" crea saltos de línea para mejor lectura.
                */
                alert(errores.join("\n"));
            }

            /*
                Si no hay errores:
                - El formulario continúa su envío normalmente.
            */

        });

    </script>
</body>

</html>